<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/submit" method="POST">

    enter email id to updata<input type="text" name="email">
    enter password to updata<input type="text" name="password">
    <input type="hidden" name="username" value=<%= name %>>
        <input type="submit">
</form>
</body>
</html>